/****** Base Styles ******/

body {
  background: white;
  color: #1f202b;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 0px auto;
}

h2 {
  color: #4285f4;
  font-family: "Source Code Pro", monospace;
  font-size: 2.25em;
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
}

h3 {
  font-weight: bold;
}

address {
  font-style: normal;
}

span {
  /*color: #fa0075;*/
  color: #4285f4;
}

a {
  text-decoration: none;
}

/****** Grid Stuff ******/

.container {
  margin: 0 auto;
  width: 100%;
}

.full-width {
  width: 100%;
  max-width: 1305px;
  margin: 0 auto;
}

.half-width {
  width: 50%;
}

.third-width {
  margin: 0;
  padding: 0;
}

/****** Header ******/

header h1 {
  display: flex;
  font-size: 1.25em;
  font-weight: 400;
  justify-content: center;
}

#home-link {
  color: #1f202b;
  text-decoration: none;
}

.header-divider {
  background: #4285f4;
  height: 1px;
}

.nav-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  color: #4285f4;
}

#nav {
  display: none;
}

nav a:hover {
  color: #4285f4;
}

header nav {
  display: flex;
  font-size: 1.25em;
  justify-content: center;
  text-align: center;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding: 1.5em 0;
}

nav ul li a {
  color: #1f202b;
  text-decoration: none;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(31, 32, 43); /* Black fallback color */
  background-color: rgba(31, 32, 43, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #4285f4;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/****** Hero Area ******/

#hero-section {
  align-content: center;
  /* background: url(../img/hero-background.png) center no-repeat #333;
  background-size: cover; */
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
  min-height: 500px;
  width: 100%;
  justify-items: center;
  align-items: center;
}

#hero-section p {
  font-family: "Source Code Pro", monospace;
  font-size: 2.25em;
  font-weight: 600;
  margin-bottom: 55px;
  padding: 0 1em;
}

#service-button {
  background-color: #4285f4;
  border: none;
  width: 37%;
  margin: 0 35%;
  text-decoration: none;
  color: white;
  padding: 1em 1em;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/****** Skills ******/

#skills--background {
  background-color: #4285f4;
}

#skills {
  background-color: #4285f4;
}

#skills h2 {
  color: white;
}
#skills-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}
.skill-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  background: white;
  width: 33%;
  padding-top: 1.5em;
  margin: 1em 1em;
  color: #3842ad;
}

.skill-item .fab,
.skill-item .fas {
  font-size: 3em;
}
/****** Portfolio ******/

.portfolio {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.portfolio a:visited {
  /*color: #fa0075;*/
  color: #4285f4;
}

#portfolio-section h2 {
  padding: 1em 0;
}

.portfolio h3,
.portfolio h4 {
  margin: 0;
}

.portfolio div,
.portfolio h3,
.portfolio h4,
.portfolio p {
  display: none;
}

.portfolio-image {
  padding: 1em 0 2em 0;
  width: 100%;
}

.portfolio h3 {
  padding-bottom: 0.3125em;
}

.portfolio h4 {
  font-weight: normal;
}

/****** About ******/

#about {
  padding-top: 1.11em;
  color: white;
}

.about-section {
  /* background: url(../img/about-me.png) center no-repeat #333;
  background-size: cover; */
  background-color: #4285f4;
  color: white;
  height: 100%;
  min-height: 515px;
  width: 100%;
}

.about-flex {
  display: flex;
  flex-flow: column;
}

.about-section h3,
.about-section p {
  padding: 0 1em;
}

.about-section .third-paragraph {
  padding-bottom: 2em;
}

.about-photo {
  padding-bottom: 1em;
  order: 1;
}

.about-photo picture {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-flow: column;
}

.about-photo img {
  border-radius: 50%;
  width: 50%;
}

.about-text {
  order: 2;
}

/****** Footer ******/

footer {
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

footer .third-width {
  text-align: center;
}

footer h2 {
  padding: 1em 0 1em 0;
}

footer h3 {
  padding: 1.875em;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer p {
  line-height: 35px;
  margin: 0 auto;
}

/*footer img {
    padding: 1.25em;
    width: 10%;
}*/

.fa-stack {
  padding: 0 0.5em;
}

.fa-linkedin-in,
.fa-twitter {
  color: white;
  font-size: 1em;
}

.fa-github {
  font-size: 2em;
  vertical-align: bottom;
}

#copyright {
  font-size: 1.125em;
  padding: 3.125em 0 0.625em 0;
  text-align: center;
}

/****************Services Page****************/
.services {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.service-1,
.service-2,
.service-3,
.service-4,
.service-5 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2em 2em;
}

.services h3 {
  margin: 0.5em 0 0 0;
}

.services i {
  color: #4285f4;
  font-size: 2em;
}

.services--container footer {
  border-top: 1px solid #4285f4;
}

/****** Tablet Styles ******/

@media only screen and (min-width: 768px) {
  /****** Base ******/
  .third-width {
    width: 33.33%;
  }

  /****** Nav ******/
  .nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
  }

  /*****Hero Area *****/
  #hero-section p {
    padding-top: 3em;
    padding-right: 6em;
  }

  p#hero-cta-text {
    padding-left: 1em;
    margin: 0;
    text-align: center;
    padding: 1.2em 0 0 0;
  }

  #service-button {
    margin: auto;
  }

  /****** Skills ******/
  .skill-item {
    width: 19%;
  }

  /****** Portfolio ******/
  .portfolio {
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }

  .portfolio div,
  .portfolio a {
    flex: 0 0 40%;
    padding: 2em 1em;
  }

  .portfolio .portfolio-image {
    /*TABLET ONLY!*/
    height: 12.8em;
  }

  /****** About ******/

  .about-flex {
    flex-flow: row;
  }

  .about-text {
    order: 1;
    width: 80%;
  }

  .about-section h3 {
    padding-left: 1.75em;
  }
  .about-section p {
    padding-left: 2em;
  }

  .about-photo {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-photo img {
    width: 70%;
  }

  /****** Footer ******/
  footer {
    display: grid;
    grid-template-areas:
      "header header header"
      "contact social  meetMe"
      "copyright copyright copyright";
    gap: 0 5em;
  }

  footer h2 {
    grid-area: header;
  }

  footer .third-width {
    width: 100%;
  }

  footer .contact--grid {
    grid-area: contact;
  }

  footer .social--grid {
    grid-area: social;
  }

  footer .meetMe--grid {
    grid-area: meetMe;
  }

  #copyright {
    grid-area: copyright;
  }

  /****************Services Page****************/
  .services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .service-1,
  .service-2,
  .service-3,
  .service-4,
  .service-5 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1 40%;
    height: 100%;
  }

  .service-5 p {
    width: 70%;
  }
}

/****** Desktop Styles ******/
@media only screen and (min-width: 1200px) {
  /****** Base Styles ******/

  body {
    font-size: 1.5em;
  }

  .container {
    width: 100%;
  }

  .half-width {
    width: 47%;
  }

  .third-width {
    width: 33%;
  }

  h2 {
    font-size: 1.5em;
    padding: 1.6666666em 0;
  }

  /****** Header ******/

  header .full-width {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  header h1 {
    display: block;
    font-size: 1.25em;
    padding-left: 0.33em;
  }

  .header-divider {
    display: none;
  }

  #nav {
    display: block;
  }

  .icon {
    display: none;
  }

  header nav {
    display: block;
    font-size: 1em;
    padding-right: 0.416666666em;
  }

  nav ul li {
    display: inline-block;
    padding: 0 1em;
  }

  /****** Hero Area ******/

  #hero-section {
    justify-content: flex-start;
    margin: 0 auto;
    min-height: 727px;
    width: 100%;
  }

  #hero-section p {
    font-size: 3em;
    padding-bottom: 1em;
    margin-right: 2em;
    padding-right: 0em;
  }

  p#hero-cta-text {
    padding: 0 0 0.5em 2em;
  }

  #service-button {
    margin-bottom: 5em;
  }

  /****** Skills ******/
  .skill-item {
    width: 11%;
  }

  .skill-item .fab,
  .skill-item .fas {
    font-size: 1.75em;
  }

  .skill-item h3 {
    font-size: 0.75em;
  }

  /****** Portfolio ******/

  .portfolio {
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .portfolio div,
  .portfolio h3,
  .portfolio h4,
  .portfolio p {
    display: block;
  }

  .portfolio div,
  .portfolio a {
    flex: 1 0 32%;
    padding: 2em 1em;
    justify-content: center;
  }

  .portfolio .portfolio-image {
    height: unset;
    padding: 0;
  }

  .left-side-text {
    text-align: right;
  }

  .portfolio .portfolio-text-block a {
    padding: 0;
  }

  /****** About ******/

  .about-section {
    margin: 0 auto;
    min-height: 700px;
    width: 100%;
  }

  #about {
    padding-top: 1.6666666em;
  }

  .about-text {
    order: 1;
    width: 67%;
  }

  .about-section h3 {
    margin-top: 0;
    padding: 0 0 0 3.562em;
  }

  .about-section p {
    padding: 0 0 0 4.17em;
  }

  .about-section .third-paragraph {
    padding-bottom: 4.16666666em;
  }

  .about-photo {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
  }

  .about-photo img {
    width: 70%;
  }

  /****** Footer ******/

  footer {
    display: grid;
    grid-template-areas:
      "header header header"
      "contact social  meetMe"
      "copyright copyright copyright";
    gap: 0 5em;
  }

  footer h2 {
    padding: 1.6666666em 0 1.090833333em 0;
    grid-area: header;
  }

  footer .third-width {
    width: 100%;
  }

  footer .contact--grid {
    grid-area: contact;
  }

  footer .social--grid {
    grid-area: social;
  }

  footer .meetMe--grid {
    grid-area: meetMe;
  }

  #copyright {
    font-size: 0.75em;
    grid-area: copyright;
  }

  /**** Services Page ****/
  .services--container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
